header > article > section .header.main {
  font-size: 1.5em; }

header > article > section .header {
  font-size: 1.17em; }

header > nav > details > summary {
  font-size: 1em; }

main > section .gallery-container > figure > figcaption {
  font-size: 0.83em; }

header > article > section .header.main {
  font-weight: bold; }

header > article > section .header {
  font-weight: bold; }

header > nav > details > summary {
  font-weight: bold; }

header > article > section .header.main {
  display: block; }

header > article > section .header {
  display: block; }

body {
  font-family: sans-serif;
  color: darkred;
  background-color: wheat; }

h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid saddlebrown;
  margin-bottom: 0.5em; }

header > article {
  margin: 0 0 0.5em 0.5em;
  background-color: burlywood;
  border: 1px solid saddlebrown;
  border-radius: 0.5em;
  overflow: hidden;
  min-width: 22em;
  max-width: 22em; }
  @media screen and (min-width: 30em) {
    header > article {
      float: right; } }
  header > article > section .header {
    text-align: center;
    background-color: darksalmon; }
  header > article > section > div:not(.header) {
    display: flex;
    flex-direction: column;
    align-items: center; }
    header > article > section > div:not(.header) > img {
      max-width: 22em;
      max-height: 22em; }
  header > article > section table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%; }
    header > article > section table td {
      max-width: 50%;
      border-width: 1px 0px;
      border-style: solid;
      border-color: saddlebrown; }
      header > article > section table td:nth-child(odd) {
        border-right-width: 1px;
        background-color: tan;
        font-weight: bold; }
      header > article > section table td:nth-child(even) {
        background-color: transparent; }
        header > article > section table td:nth-child(even) > audio {
          width: 16.85em;
          transform: scaleX(0.64) translateX(-28%); }
  header > article > section:last-child table:last-child tr:last-child td {
    border-bottom-width: 0; }

header > nav > details {
  display: inline-block;
  background-color: burlywood;
  border: 1px solid saddlebrown;
  border-radius: 0.25em; }
  header > nav > details > summary {
    text-align: center;
    cursor: pointer; }
  header > nav > details > ol {
    margin-right: 0.625em; }

main > section, main > nav {
  margin-top: 1em;
  margin-bottom: 1em; }

main > section > nav {
  font-style: italic;
  padding-left: 1.6em;
  margin-bottom: 0.5em; }

main > section .gallery-container {
  display: flex;
  flex-wrap: wrap; }
  main > section .gallery-container > figure {
    margin: 1em 1em;
    max-height: 15em;
    width: 10em;
    border: 1px solid saddlebrown;
    border-radius: 0.25em;
    display: flex;
    flex-direction: column; }
    main > section .gallery-container > figure > div {
      flex-basis: 13em;
      flex-grow: 0.86667;
      flex-shrink: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
    main > section .gallery-container > figure > figcaption {
      flex-basis: 2em;
      flex-grow: 1;
      flex-shrink: 0.13333; }

main > nav > ul {
  column-width: 20em; }

footer {
  border: 1px solid saddlebrown;
  border-radius: 0.25em;
  padding: 0.5em 0.25em;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  footer span {
    margin: 0 0.25em; }
  footer a {
    margin: 0 0.25em;
    padding: 0 0.25em;
    border-radius: 0.25em;
    background-color: darksalmon; }
